<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.plans.apps.domain.mapper.AuthorityMenuMapper">

	<!-- 登録を行う。 -->
	<insert id="insert">
		INSERT INTO authority_menu(authority, menu_id)
		VALUES
			 <foreach collection="menuList" item="menu" separator=",">
			 (#{menu.authority}, #{menu.menuId})
			 </foreach>
	</insert>
</mapper>