<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.plans.apps.domain.mapper.MenuMapper">

	<!-- メニュー情報を取得する。 -->
	<select id="search" resultType="jp.co.plans.apps.domain.model.Menu">
		SELECT
			menu_id menuId,
			name,
			jp_name jpName,
			area_type areaType,
			path
		FROM
			menu
		WHERE
			available_flg = 0
			AND authority IN ("000"
			<if test="authorityList != null and authorityList.size() > 0">
				<foreach item="auth" collection="authorityList" open="," separator=",">
					#{auth}
				</foreach>
			</if>
			);
	</select>

	<!-- メニュー情報を登録する。 -->
	<insert id="insert">
	 	INSERT INTO menu
		VALUES (
			#{menuId},
			#{name},
			#{jpName},
			#{path},
			#{availableFlg},
			#{areaType}
			#{authority},
			'SERVER',
			now(),
			'SERVER',
			now()
			);
	</insert>
	<!-- メニューを削除する。 -->
	<delete id="delete">
		DELETE FROM menu
		WHERE
			menu_id = #{menuId}
			AND name = #{name}
			AND jp_name = #{jpName}
			AND path = #{path}
			AND authority = #{authority}
			;
	</delete>
</mapper>